* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #E50914;
  --black: #010102;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --darkbckground: #000000;
  --white: #e5fdda;
  --frontEnd: #909091;
  --backEnd: #00C86F;
  --footerhover: #5a5a5a;
  --newVideo: #e02730;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}